.field {
  height: 40%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
